body {
  background-color: #0f172a;
  color: #e5e7eb;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.services {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  gap: 20px;
}

.service {
  border: 1px solid #334155;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 6px;
  max-width: 250px;
}

.testimonials {
  font-style: italic;
  color: #cbd5e1;
  text-align: center;
}

footer {
  text-align: center;
}

button {
  background-color: #c9a24d;
  color: #e5e7eb;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #334155;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
}

span {
  color: #c9a24d;
  font-weight: bold;
}

@media (min-width: 768px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
}
